<div class='home-container flex'>
  <img class='main-logo' src='images/beer.png' alt='beer glass' />
  <div class='button-div flex'>
    <a class='button-like' href='/beers'>Check the Beers!</a>
    <a class='button-like' href='/random-beer'>Check a Random Beer</a>
  </div>
</div>